@tailwind base;
@tailwind components;
@tailwind utilities;

@layer layout {
  .max-width-layout {
    @apply lg:w-[764px] lg:m-auto;
  }

  .full-width-layout {
    @apply w-screen;
  }
}

@layer components {
  .btn-dft {
    @apply border border-black text-black lg:text-xl py-[5px] px-8 hover:bg-black hover:text-white transition-all duration-300;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background-color: white;
  }
}
